.header {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.link {
  color: rgba(68, 32, 32, 0.55);
  padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
